<div class="left-nav">
  <BsNav
  @type="pills"
  @justified={{false}}
  @stacked={{true}}
  @fill={{false}} as |nav|
>
    <nav.item class="left-nav-item">
      <div>
        {{#link-to "index"}}
          {{svg-jar "ft" class="icon" width="32px"}}
        {{/link-to}}
      </div>
    </nav.item>
  </BsNav>
</div>
{{yield}}