<div class="user-sort-filter-cont">
  <span>Sort by:</span>
  <BsDropdown @tagName="span" class="sortby-dropdown" as |dd|>
    <dd.toggle class="sortby-dropdown-toggle">
      <span class="caret"></span>
    </dd.toggle>
    <dd.menu class="sort-dropdown-menu" as |menu|>
      <menu.item>
        <a href="#" class="first-name" onclick={{action "setSortBy" "first_name" preventDefault=false}}>First name</a>
      </menu.item>
      <menu.divider/>
      <menu.item>
        <a href="#" class="last-name" onclick={{action "setSortBy" "last_name" preventDefault=false}}>Last name</a>
      </menu.item>
      <menu.divider/>
      <menu.item>
        <a href="#" class="joining-date" onclick={{action "setSortBy" "joining_date" preventDefault=false}}>Joining Date</a>
      </menu.item>
      <menu.divider/>
      {{!-- <menu.item>
        <a href="#" onclick={{action "setSortOrder" 'asc' preventDefault=false}}>Ascending</a>
      </menu.item>
      <menu.divider/>
      <menu.item>
        <a href="#" onclick={{action "setSortOrder" 'desc' preventDefault=false}}>Descending</a>
      </menu.item> --}}
      <menu.divider/>
    </dd.menu>
  </BsDropdown>
</div>
{{yield sortedResults}}