<div class="sub-heading">
  <p class="heading-text">Employees</p>
</div>

<div class="users-list container">
  <h3>{{#link-to "users.new" }}Add Employees{{/link-to}}</h3>

  {{user-sort sortAction=(action 'setSortBy') sortOrder=(action 'setSortOrder')}}
  {{user-search filter=(action 'searchByName')}}
  {{teams-filter-component filter=(action 'setTeamFilter')}}
  <div class="row">
    {{#each userModel as |user|}}
      <div class="user_column col-md-4 col-lg-3 col-xl-2">
        {{user-listing user=user}}
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}