<div class="sub-heading">
  <p class="heading-text">Employees</p>
</div>

<div class="users-list container">
  {{user-sort sortAction=(action 'setSortBy') sortOrder=(action 'setSortOrder')}}
  {{user-search filter=(action 'searchByName')}}
  <div class="row">
    {{#each userModel as |user|}}
      <div class="user_column col-md-4 col-lg-3 col-xl-2">
        {{user-listing user=user}}
      </div>
    {{/each}}
  </div>
  {{#each teamsModel as |team|}}
      <div class="user_column col-md-4 col-lg-3 col-xl-2">
        {{team}}
      </div>
    {{/each}}
</div>
{{outlet}}